.footer_wrapper_top {
    margin-top: 120px;
    background: var(--282-blue);
    padding: 76px 210px;

}

.footer_wrapper_top .title_40 {
    text-align: center;
}

.line_ft {
    color: var(--white);
    margin: 30px 0;
}

.con_ft {
    display: flex;
    justify-content: space-between;
}

.con_ft ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--white);
    line-height: 32px;
    font-size: 18px;

}

.footer_wrapper_top .title_24 {
    font-weight: 700;
    line-height: 48px;
    color: var(--white);
}

.footer_wrapper_bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #BBBBBB;
    /* border-bottom: 1px solid #BBBBBB; */
}

/* LOGO */
.logo_favicon_ft {
    padding: 25px 56px 25px 0;
    border-right: 1px solid #BBBBBB;
    display: flex;
    align-items: center;
}

/* COPYRIGHT */
.copy_ft {
    font-size: 16px;
    color: var(--444-grey);
    margin: 0;
    padding: 0 40px;
    white-space: nowrap;
}

/* PRODUCTS */
.products_ft {
    /* display: flex; */
    /* align-items: center; */
    padding: 40px 60px;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
}

.footer_wrapper_bot_lt {
    display: flex;
    align-items: center;
}

.footer_wrapper_bot_rt {
    display: flex;
    align-items: center;
}

.products_ft a {
    border-right: 1px solid var(--444-grey);
    padding: 0 15px;
}


.products_ft a:last-child {
    border-right: none;
}

/* CONTACT */
.contact_btn_ft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0px 35px 60px;
}

.contact_btn_ft p {
    margin: 0;
    font-size: 16px;
}

.contact_icon {
    margin-top: 6px;
}